// VARIABLES

// colours
:root {
  --shadow-color: 0deg 0% 65%;

  --bg-black: #18222b;
  --blue: #C3FFFA;
  --blue-dark: #009c9c;
  --blue-retro: #75c8ae;
  --orange: #FFCE80;
  --orange-dark: #449300;
  --orange-retro: #e5771e;
  --grey: #707070;
  --grey-light: #e0e0e0;
  --white: #f3f3f3;
  --sepia: #fdefc2;
  
  --type: #2c3e50;
  --primary: var(--blue);
  --secondary: var(--orange);
  --bg: var(--white);

  --outline: var(--grey);
}
//   // fonts
//   --fontPoiret: 'Poiret One', Helvetica, Arial, sans-serif;
//   --fontOxygen: 'Oxygen', Helvetica, Arial, sans-serif;
  
//   --fontPrimary: var(--fontPoiret);
//   --fontSecondary: var(--fontOxygen);
  
//   --baseFontSize: 16px;
//   --tabletFontSize: 14px;
//   --phoneFontSize: 12px;
//   --smallPhoneFontSize: 10px;
  
//   // breakpoints
//   --desktop: "(max-width: 1450px)";
//   --tablet: "(max-width: 1000px)";
//   --phone: "(max-width: 700px)";
//   --smallPhone: "(max-width: 475px)";
  
//   // misc
//   --browserContext: 16;
//   --gutter: 5rem;
//   --gutterSmall: 2rem;
// }

// .dark-mode {
//   --base: var(--grey-light);
//   --primary: var(--blue-dark);
//   --secondary: var(--orange-dark);
//   --outline: var(--grey-light);
//   --background: var(--bg-black);
// }
// .sepia-mode {
//   --base: var(--black);
//   --primary: var(--blue-retro);
//   --secondary: var(--orange-retro);
//   --outline: var(--grey);
//   --background: var(--sepia);
// }

// z-index
// --z-index: (
//   // keep in hierarchical order in tens!
//   nav: 50,
//   button-triangle: 20
// )
